body {
	width: 1366px;
	margin:0px auto;
}
.container {
	margin-top: 20px;
}
#navigation {
	margin-bottom: 10px;
}
#footerStyle {
	/*border: 1px solid red;*/
    padding: 10px;
    margin: 10px 0px;
    text-align: center;
    background-color: #eee;
}

/*Year summary style*/
.summary {
	/*border: 1px solid red;*/
	margin-top: 10px;
	/*background-color: #eee;*/
}

.bracketImg {
	margin: auto;
}
.recordHead {
	font-weight: 800;
}